.button-style{
  width: 150px;
  height: 30px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  /*margin-top: 5px;*/
  background: #CDCDCD;
  border: 0;
  outline: none;
}

.close-window{
  visibility: hidden;
}