.wrapper{
	display: flex;
	flex-direction: row;
}

.race-wrapper{
	display: flex;
	flex : 4;
	flex-direction: column;
}

.student-progress-flow{
	display: flex;
	flex-direction: row;
	height: 141px;
	align-items: center;
	justify-content: center;
}
.name{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 10px;
	width: 80px;
}
.space{
	margin-right: 10px;

}
.stage1{

}
.stage2{

}
.stage3{

}
.stage4{
	display: flex;
	flex-direction: column;

}



canvas{
	display: block;
	width: 45px;
	height:45px;
	margin: 1px 1px;
}


/*/////////////////////////////////////////////////////////////////////////////*/

[class^="error"] {
	display: none;
}


/*/////////////////////////////////////////////////////////////////////////////*/
.control-panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #cef0ff;
	height: 100vh;

}

.inputs {
	display: flex;
	flex-direction: column;
}

.inputs__wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding-right: 10px;
}
label{
	margin-left: 30px;
	width: 80px;

}
.buttons {
	display: flex;
	flex-direction: column;
}

.buttons__wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 5px;

}


