<h1>{{title}}</h1>

<input type="text" #newTodo />
<input type="text" #newTodoPriority />
<input type="text" #newTodoDone />

<button (click)="addTodo(newTodo.value, newTodoPriority.value, newTodoDone.value);
        newTodo.value=''; newTodoPriority.value=''; newTodoDone.value=''">Add</button>

<div >
  <div>
    <div>Label</div>
    <div>Priority</div>
    <div>Done</div>
    <div>Actions</div>
  </div>
  <div *ngFor="let todo of todos">
    <div>{{todo.label}}</div>
    <div>{{todo.priority}}</div>
    <div>{{todo.done ? '&#10003;' : '&#10005;'}}</div>
    <div>
      <button (click)="deleteTodo(todo)">Delete</button>
    </div>
  </div>
</div>
